*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div {
    background-color: rgba(155, 155, 155, 0.384);
    height: 16%;
    width: 27%;
}
div h2 {
    padding: 19px 19px;
}
div p{
    text-align: center;
    padding: 0px 15px ;
}